html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: arial, sans-serif;
}

nav {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    font-weight: normal;
    height: 5vh;
    margin-bottom: 5vh;
    justify-items: end;
    align-items: center;
}

.right {
    display: grid;
    grid-column: 3;
}

.right ul {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    padding: 1em;
    margin: 0;
}

.right ul li {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0 1em;
}

.right ul li a {
    color: black;
    text-decoration: none;
    font-size: 0.9em;
}

.right ul li a:hover {
    text-decoration: underline;
}

.products {
    width: 2em;
}

.pfp {
    border-radius: 10em;
}

.gSearchBox {
    display: grid;
    place-items: end;
}

.google {
    display: grid;
    justify-items: center;
    gap: 2em;
    height: 80vh;
}

.search {
    display: grid;
    grid-auto-flow: row;
    place-items: center;
}

.searchText {
    border: 1px solid lightgray;
    border-radius: 10em;
    height: 2.5em;
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center;
    margin-top: 2em;
    width: 30em;
}

.searchText img {
    padding: 0 1em;
}

.searchText input {
    width: 100%;
    height: 95%;
    border: 1px solid lightgray;
    border-radius: 10em;
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.searchText input:focus {
    outline: none;
}

.searchBtn {
    display: grid;
    place-items: start;
    grid-auto-flow: column;
    gap: 1em;
}

.gSearch {
    padding: 0.8em;
    border-radius: 0.3em;
    background-color: whitesmoke;
    cursor: pointer;
}

footer {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5vh;
    height: 5vh;
    padding: 0 3em;
}

.leftFooter {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-column: 1 / 3;
}

.rightFooter {
    display: grid;
    justify-items: end;
    align-items: center;
    grid-column: 4;
}

.leftFooter ul, .rightFooter ul {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
    padding: 0;
    margin: 0;
}

.leftFooter ul li, .rightFooter ul li {
    font-size: 0.8em;
    list-style: none;
}

.leftFooter ul li:hover, .rightFooter ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 830px) {
    footer {
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
        margin: 0;
        height: 10vh;
    }

    .leftFooter {
        grid-row: 1;
    }

    .rightFooter {
        grid-row: 2;
    }

    .leftFooter, .rightFooter {
        grid-column: unset;
        justify-items: center;
        width: 100%;
        height: 100%;
    }
}